[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

ul {
   font-size: 40px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.tab.active {
    background-color: #ccc;    
}

.tab:hover {
    background-color: #AAA;
}

.tab-content {
    margin-left: 10px;
    margin-right: 10px;
}
 
body {
    background-color: darkslategrey;
    font-size: large;
    color: seashell;
    padding: 0;
    margin: 0;
}

#fullLib {
margin-top: 50px;
}