[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

ul {
   font-size: 40px;
   text-align: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid black;
}

.tab {
    cursor: pointer;
    padding: 10px;
    width: 370px
}

.tab-content {
    margin-left: 10px;
    margin-right: 10px;
}
 
body {
    background-color: rgb(30, 32, 32);
    font-size: large;
    color: seashell;
    padding: 0;
    margin: 0;
}

button {
    background-color: cadetblue;
    color: white;
    display: inline-block;
    font-size: 20px;

}

#pTab {
    background-color: paleturquoise;
    color: black;
    background-image: url(/Images/PirateHatIcon_light.png);
    background-repeat: no-repeat;
    background-position: center fixed;
    background-size: cover
}

#fTab{
    background-color: blanchedalmond;
    color: black;
    background-image: url(/Images/Pirahna_icon_light.png);
}

#tabP{
    background-color: burlywood;
    color: black;
    background-image: url(/Images/threepig_icon_light.png);
    background-size: cover;
}

#pirate {
    background-image: url(/Images/PMapBG.png);
    background-position: justify;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 30px;
    color: rgb(46, 1, 1);
}


#pirate input {
    box-sizing: border-box;
    width: 20%;
    height: 30px;
    align-items: center ;
    font-size: 20px;
    background-color: darkgray;
}

#pTab:hover {
    background-color: grey;
}
#pTab.active {
    background-color: #ccc;    
}

#pirahnas {
    background-image: url(/Images/underwater_background.jpg);
    background-position: justify;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    font-family: 'Baloo Tamma 2', cursive;
    text-align: center;
    font-size: 30px;
    color: black;
}
#pirahnas input {
    box-sizing: border-box;
    width: 20%;
    height: 30px;
    align-items: center ;
    font-size: 20px;

    background-color: darkgray;
}

#fTab:hover {
    background-color: grey;
}
#fTab.active {
    background-color: #ccc;    
}

#pigs {
    background-image: url(/Images/book_background.png);
    background-position: justify;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 35px;
    color: black;
}

#pigs input {
    box-sizing: border-box;
    width: 20%;
    height: 30px;
    align-items: center ;
    font-size: 20px;
    background-color: darkgray;
}

#tabP:hover {
    background-color: grey;
}

#tabP.active {
    background-color: #ccc;    
}
